.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header:not(.scrolled) {
    background-color: transparent;
}

.header.scrolled {
    background-color: rgb(20, 20, 20);
    /* or any other color you prefer */
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.header ul li {
    display: inline;
    color: aquamarine;
    margin-right: 20px;
}

.header ul li:first-child {
    background-color: transparent;
}

.header ul li:nth-child(2) {
    margin-left: 20px;
}

.header ul li:last-child {
    object-fit: contain;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.header ul li:hover {
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.videoc {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    object-fit: cover;
    background-color: #000;
}


.moviecom ul {
    display: flex;
}

.moviecom img {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.moviecom img:hover {
    width: 300px;
    height: 300px;
    transform: scale(1.1);
}

.card1 img:hover {
    width: 300px;
    height: 300px;
    transform: scale(1.1);
}

.card1 ul {
    display: inline-flex;
}

.card1 ul li {
    margin-right: 20px;
    justify-content: space-between;

}

.card1 ul li img {
    border-radius: 10px;
}

.card1:hover {
    border: 1px solid white;
    width: 25%;
    height: 500px;
}